= nav_link_to "about", "#"
/ = nav_link_to "contact", contact_path
/ = nav_link_to "help", help_path
/ = nav_link_to "privacy", privacy_path
/ = nav_link_to "terms", terms_path
/ = nav_link_to "producers", producers_path
