.background-white.footer.visible-phone
  .container
    %p.pull-right
      %a#toplink{:href => "#"} Back to top
    %ul#footer-nav.nav.visible-phone
      %hr/
      %h3.centered Menu
      = render 'boilerplate_links'
      = render 'nav_links'
.navbar.navbar-fixed-bottom.hidden-phone
  .navbar-inner
    .container
      .span6.offset3
        %ul.nav
          = nav_link_to "home", root_url
          = render "boilerplate_links"
