!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %base{:href => "."}/
    %link{:href => "http://favicon.cargocollective.com/52370.ico", :rel => "shortcut icon"}/
    %title Harmless Harvest
    %link#user_stylesheet{:href => "./Harmless Harvest_files/stylesheet", :rel => "stylesheet", :type => "text/css"}/
    %script{:async => "", :src => "./Harmless Harvest_files/ga.js", :type => "text/javascript"}
    %script{:async => "", :src => "./Harmless Harvest_files/ga.js", :type => "text/javascript"}
    %script{:src => "./Harmless Harvest_files/cargo.jquery.package.js", :type => "text/javascript"}
    %script{:src => "./Harmless Harvest_files/cargo.site.package.js", :type => "text/javascript"}
    %script{:src => "./Harmless Harvest_files/cargo.tools.package.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "./Harmless Harvest_files/template.js", :type => "text/javascript"}
    :javascript
      var _sf_startpt=(new Date()).getTime()    %link{:charset => "utf-8", :href => "./Harmless Harvest_files/globalstyle.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://harmlessharvest.com/rss/", :rel => "alternate", :title => "Cargo feed", :type => "application/rss+xml"}/
    :css
      [draggable=true] {-webkit-user-drag: element; -webkit-user-select: none; -moz-user-select: none;}  %body
    %customhtml
      .cargo_link
        %p © Harmless Harvest, 2010.
      .cargo_link
        Running on
        %a{:href => "http://cargocollective.com/"} Cargo
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35966340-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    .header_img
      %a{:href => "http://www.harmlessharvest.com/", :onfocus => "this.blur()"}
        %img{:height => "165", :src => "./Harmless Harvest_files/BANNER_trans4.png", :width => "1228"}/
    %img#nav_loadspin{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
    .nav_container.horizontal
      #menu_1668644.page_link
        %a#p1668644{:href => "http://harmlessharvest.com/HARMLESS-PLANTS", :name => "harmlessharvest", :rel => "history"} HARMLESS PLANTS
      #menu_1668638.page_link
        %a#p1668638{:href => "http://harmlessharvest.com/HARMLESS-PROGRESS", :name => "harmlessharvest", :rel => "history"} HARMLESS PROGRESS
      #menu_1834291.page_link
        %a#p1834291{:href => "http://harmlessharvest.com/HARMLESS-PRODUCTS", :name => "harmlessharvest", :rel => "history"} HARMLESS PRODUCTS
      #menu_1668648.page_link
        %a#p1668648{:href => "http://harmlessharvest.com/HARMLESS-PROMISE", :name => "harmlessharvest", :rel => "history"} HARMLESS PROMISE
    .nav_clear{:style => "clear:both;"}
      / 
    #content_container
      #maincontainer.bodycopy{:style => "display: none;"}
      #page_1{:style => "display: block;"}
        #item_5177749.project_thumb{:name => "5177749", :page => "1", :spot => "-1"}
          #pr_contain_item_5177749
            %a#p5177749.nohover{:href => "http://harmlessharvest.com/100-Raw-Tea", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_5177749.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_5177749.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1365786294.jpg", :src => "./Harmless Harvest_files/prt_200x200_1365786294.jpg"}/
        #item_1663382.project_thumb{:name => "1663382", :page => "1", :spot => "-1"}
          #pr_contain_item_1663382
            %a#p1663382.nohover{:href => "http://harmlessharvest.com/CHUCK-PETERS", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_1663382.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_1663382.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1309385495.jpg", :src => "./Harmless Harvest_files/prt_200x200_1309385495.jpg"}/
        #item_2008653.project_thumb{:name => "2008653", :page => "1", :spot => "-1"}
          #pr_contain_item_2008653
            %a#p2008653.nohover{:href => "http://harmlessharvest.com/WATCH-OUR-STORY", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_2008653.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_2008653.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1316114404.jpg", :src => "./Harmless Harvest_files/prt_200x200_1316114404.jpg"}/
        #item_1663370.project_thumb{:name => "1663370", :page => "1", :spot => "-1"}
          #pr_contain_item_1663370
            %a#p1663370.nohover{:href => "http://harmlessharvest.com/THOREAU-WILD-APPLES", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_1663370.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_1663370.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1309385351.jpg", :src => "./Harmless Harvest_files/prt_200x200_1309385351.jpg"}/
        #item_4947396.project_thumb{:name => "4947396", :page => "1", :spot => "-1"}
          #pr_contain_item_4947396
            %a#p4947396.nohover{:href => "http://harmlessharvest.com/100-RawCoco", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_4947396.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_4947396.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1360374465.jpg", :src => "./Harmless Harvest_files/prt_200x200_1360374465.jpg"}/
        #item_1668644.pagecontainer{:name => "1668644", :page => "0", :spot => "5"}
        #item_1668638.pagecontainer{:name => "1668638", :page => "0", :spot => "5"}
        #item_1834291.pagecontainer{:name => "1834291", :page => "0", :spot => "5"}
        #item_1668648.pagecontainer{:name => "1668648", :page => "0", :spot => "5"}
        #item_1667963.project_thumb{:name => "1667963", :page => "1", :spot => "-1"}
          #pr_contain_item_1667963
            %a#p1667963.nohover{:href => "http://harmlessharvest.com/RECA-1", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_1667963.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_1667963.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1309463173.jpg", :src => "./Harmless Harvest_files/prt_200x200_1309463173.jpg"}/
        #item_1663327.project_thumb{:name => "1663327", :page => "1", :spot => "-1"}
          #pr_contain_item_1663327
            %a#p1663327.nohover{:href => "http://harmlessharvest.com/CUPUACU", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_1663327.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_1663327.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1309384867.jpg", :src => "./Harmless Harvest_files/prt_200x200_1309384867.jpg"}/
        #item_691020.project_thumb{:name => "691020", :page => "1", :spot => "-1"}
          #pr_contain_item_691020
            %a#p691020.nohover{:href => "http://harmlessharvest.com/JOAO-MEIRELLESExpert-advice-from-Peabiru-Institute", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_691020.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_691020.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1309978717.jpg", :src => "./Harmless Harvest_files/prt_200x200_1309978717.jpg"}/
        #item_1663304.project_thumb{:name => "1663304", :page => "1", :spot => "-1"}
          #pr_contain_item_1663304
            %a#p1663304.nohover{:href => "http://harmlessharvest.com/CAMU-CAMU", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_1663304.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_1663304.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1309384709.jpg", :src => "./Harmless Harvest_files/prt_200x200_1309384709.jpg"}/
        #item_1667969.project_thumb{:name => "1667969", :page => "1", :spot => "-1"}
          #pr_contain_item_1667969
            %a#p1667969.nohover{:href => "http://harmlessharvest.com/BRAZIL-NUT", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_1667969.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_1667969.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1309463197.jpg", :src => "./Harmless Harvest_files/prt_200x200_1309463197.jpg"}/
        #item_1667972.project_thumb{:name => "1667972", :page => "1", :spot => "-1"}
          #pr_contain_item_1667972
            %a#p1667972.nohover{:href => "http://harmlessharvest.com/PAULO-GARCIA-DE-ALMEIDA", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_1667972.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_1667972.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1309463255.jpg", :src => "./Harmless Harvest_files/prt_200x200_1309463255.jpg"}/
        #item_1663357.project_thumb{:name => "1663357", :page => "1", :spot => "-1"}
          #pr_contain_item_1663357
            %a#p1663357.nohover{:href => "http://harmlessharvest.com/WORLD-S-BEST-COCONUT-WATER", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_1663357.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_1663357.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1309385143.jpg", :src => "./Harmless Harvest_files/prt_200x200_1309385143.jpg"}/
        #item_1668451.project_thumb{:name => "1668451", :page => "1", :spot => "-1"}
          #pr_contain_item_1668451
            %a#p1668451.nohover{:href => "http://harmlessharvest.com/COUNTING-CAMU", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_1668451.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_1668451.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1309469100.jpg", :src => "./Harmless Harvest_files/prt_200x200_1309469100.jpg"}/
        #item_1667911.project_thumb{:name => "1667911", :page => "1", :spot => "-1"}
          #pr_contain_item_1667911
            %a#p1667911.nohover{:href => "http://harmlessharvest.com/ILKKA-HALSO", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_1667911.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_1667911.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1309462941.jpg", :src => "./Harmless Harvest_files/prt_200x200_1309462941.jpg"}/
        #item_1663341.project_thumb{:name => "1663341", :page => "1", :spot => "-1"}
          #pr_contain_item_1663341
            %a#p1663341.hover{:href => "http://harmlessharvest.com/CAMBUCI", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_1663341.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_1663341.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1309385022.jpg", :src => "./Harmless Harvest_files/prt_200x200_1309385022.jpg"}/
        #item_695315.project_thumb{:name => "695315", :page => "1", :spot => "-1"}
          #pr_contain_item_695315
            %a#p695315.nohover{:href => "http://harmlessharvest.com/HEIKO-SCHINDLER-IMO-The-Promise-of-FairWild-Certification", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_695315.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_695315.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1309978941.jpg", :src => "./Harmless Harvest_files/prt_200x200_1309978941.jpg"}/
        #item_1667960.project_thumb{:name => "1667960", :page => "1", :spot => "-1"}
          #pr_contain_item_1667960
            %a#p1667960.nohover{:href => "http://harmlessharvest.com/RACHEL-SUSSMAN", :name => "harmlessharvest", :onfocus => "this.blur()", :onmouseout => "this.className='nohover';", :onmouseover => "this.className='hover';", :rel => "history"}/
            #load_1667960.loader_holder
              %img{:src => "./Harmless Harvest_files/loadingAnim.gif"}/
            #cardthumb_1667960.cardimgcrop.notitle_notag{:name => ""}
              %img{:border => "0", :rel => "testprt_1309463119.jpg", :src => "./Harmless Harvest_files/prt_200x200_1309463119.jpg"}/
      %br/
    #foot_container
      %input#current_open{:type => "hidden", :value => "none"}/
      %input#prev_open{:type => "hidden", :value => "none"}/
      %input#prev_type{:type => "hidden", :value => "project_link"}/
      %input#this_spot{:type => "hidden", :value => "-1"}/
      %input#is_domain{:type => "hidden", :value => "harmlessharvest.com"}/
      %input#url{:type => "hidden", :value => "harmlessharvest"}/
      %input#uid{:type => "hidden", :value => "52370"}/
      %input#current_page{:type => "hidden", :value => "1"}/
      %input#total_pages{:type => "hidden", :value => "1"}/
      %input#limit{:type => "hidden", :value => "36"}/
      %input#viewtype{:type => "hidden", :value => "list"}/
      %input#previewtemplate{:type => "hidden", :value => "false"}/
      %input#template{:type => "hidden", :value => "escher"}/
      %input#design{:type => "hidden", :value => "biblio"}/
      %input#templatepath{:type => "hidden", :value => "designs/escher"}/
      %input#designpath{:type => "hidden", :value => "designs/escher/biblio"}/
      %input#sticky_page{:type => "hidden", :value => "top"}/
      %input#o_thumb_nav{:type => "hidden", :value => "yes"}/
      %input#is_solo{:type => "hidden", :value => "false"}/
      %input#is_direct{:type => "hidden", :value => "false"}/
      %fullscreen_option{:data => "fill"}
      %script#fullscreen_src{:type => "text/html"} <div class="freshbox_navigation"><div class="freshbox_navigation_group"><a href="#"id="fullscreen_prev"class="freshbox_nav_button"><svg viewBox="0 0 30 30"height="100%"width="100%"version="1.1"><g transform="translate(11, 11)"><path class="nav_svg"d="M 0 4 L 8 8 L 8 8 L 8 0"/></g></svg></a><a href="#"id="fullscreen_close"class="freshbox_nav_button"><svg viewBox="0 0 30 30"height="100%"width="100%"version="1.1"><g class="nav_svg"transform="translate(10, 10)"><rect x="1"width="1"height="1"/><rect x="1"y="1"width="1"height="1"/><rect x="2"y="1"width="1"height="1"/><rect x="1"y="2"width="1"height="1"/><rect x="2"y="2"width="1"height="1"/><rect x="3"y="2"width="1"height="1"/><rect x="4"y="3"width="1"height="1"/><rect x="3"y="4"width="1"height="1"/><rect x="4"y="4"width="1"height="1"/><rect x="5"y="3"width="1"height="1"/><rect x="6"y="2"width="1"height="1"/><rect x="7"y="1"width="1"height="1"/><rect x="8"width="1"height="1"/><rect x="9"y="1"width="1"height="1"/><rect x="8"y="1"width="1"height="1"/><rect x="7"y="2"width="1"height="1"/><rect x="8"y="2"width="1"height="1"/><rect x="7"y="3"width="1"height="1"/><rect x="6"y="3"width="1"height="1"/><rect x="5"y="4"width="1"height="1"/><rect x="6"y="4"width="1"height="1"/><rect x="5"y="5"width="1"height="1"/><rect x="6"y="5"width="1"height="1"/><rect x="7"y="6"width="1"height="1"/><rect x="8"y="7"width="1"height="1"/><rect x="9"y="8"width="1"height="1"/><rect x="8"y="9"width="1"height="1"/><rect x="7"y="8"width="1"height="1"/><rect x="7"y="7"width="1"height="1"/><rect x="6"y="7"width="1"height="1"/><rect x="6"y="6"width="1"height="1"/><rect x="5"y="6"width="1"height="1"/><rect x="4"y="6"width="1"height="1"/><rect x="3"y="7"width="1"height="1"/><rect x="3"y="6"width="1"height="1"/><rect x="2"y="6"width="1"height="1"/><rect x="2"y="7"width="1"height="1"/><rect x="1"y="7"width="1"height="1"/><rect y="8"width="1"height="1"/><rect x="1"y="8"width="1"height="1"/><rect x="3"y="5"width="1"height="1"/><rect x="2"y="8"width="1"height="1"/><rect x="1"y="9"width="1"height="1"/><rect x="8"y="8"width="1"height="1"/><rect x="4"y="5"width="1"height="1"/><rect x="2"y="3"width="1"height="1"/><rect x="3"y="3"width="1"height="1"/><rect y="1"width="1"height="1"/></g></svg></a><a href="#"id="fullscreen_next"class="freshbox_nav_button"><svg viewBox="0 0 30 30"height="100%"width="100%"version="1.1"><g transform="translate(20, 11) scale(-1, 1)"><path class="nav_svg"d="M 0 4 L 8 8 L 8 8 L 8 0"/></g></svg></a></div></div><div id="fullscreen_imgs"></div>
      %script{:language => "javascript"} var pid_list = new Array("5177749","1663382","2008653","1663370","4947396","1668644","1668638","1834291","1668648","1667963","1663327","691020","1663304","1667969","1667972","1663357","1668451","1667911","1663341","695315","1667960",""); 		var pr_list = new Array("5177749","1663382","2008653","1663370","4947396","1667963","1663327","691020","1663304","1667969","1667972","1663357","1668451","1667911","1663341","695315","1667960"); 		var prt_list = new Array("100% Raw Tea","CHUCK PETERS","WATCH OUR STORY","THOREAU: WILD APPLES","100%RawCoco","RECA","CUPUAÇU","JOAO MEIRELLES<br><i>Expert advice from Peabiru Institute</i>","CAMU CAMU","BRAZIL NUT","PAULO GARCIA DE ALMEIDA","WORLD\'S BEST COCONUT WATER","COUNTING CAMU","ILKKA HALSO","CAMBUCI","HEIKO SCHINDLER (IMO)<br><i>The Promise of FairWild Certification</i>","RACHEL SUSSMAN");
      .bottompad  
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['b._setAccount', 'UA-1837333-7']);

      		_gaq.push(['b._trackPageview','/www.harmlessharvest.com']);
      	   
      (function() {
      	 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      	 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      	 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    / following rail
    %script{:src => "./Harmless Harvest_files/cargo.rail.package.js", :type => "text/javascript"}
    %script{:src => "./Harmless Harvest_files/rail.app.js", :type => "text/javascript"}
    %script{:src => "./Harmless Harvest_files/rail.jquery.js", :type => "text/javascript"}
    %link{:href => "./Harmless Harvest_files/rail.css", :rel => "stylesheet", :type => "text/css"}/